{% extends "main.html" %}

{% block content %}
<h2 align="center">Works Log</h2>
{% if current_user.is_authenticated %}
<div>
    <a class="btn btn-secondary" href="/add_job" style="margin-top: 1%; margin-bottom: 1%">Add job</a>
    <a class="btn btn-secondary" href="/departments" style="margin-top: 1%, margin-bottom: 1%">Back to Departments</a>
</div>
{% else %}
<a class="btn btn-secondary" href="/departments" style="margin-top: 1%, margin-bottom: 1%">Back to Departments</a>
{% endif %}
{% for item in elements %}
    <h3 align="left" >Action #{{ loop.index }}</h3>
    <table align="left" width="100%" style="text-align: center;">
        <tr>
            <td bgcolor="#dedede" width="20%">Title of activity</td>
            <td bgcolor="#dedede" width="20%">Team leader</td>
            <td bgcolor="#dedede" width="20%">Duration</td>
            <td bgcolor="#dedede" width="20%">List of collaborators</td>
            <td bgcolor="#dedede" width="20%">Is finished</td>
        </tr>
        <tr>
            <td bgcolor="#eeefff" width="20%">{{ item.job }}</td>
            <td bgcolor="#eeefff" width="20%">{{ item.user.surname}} {{ item.user.name }}</td>
            <td bgcolor="#eeefff" width="20%">{{ item.work_size }} hours</td>
            <td bgcolor="#eeefff" width="20%">{{ item.collaborators }}</td>
            {% if item.is_finished == None %}
                <td bgcolor="#ffefff" width="20%">Is not <br>finished</td>
            {% else %}
                <td bgcolor="#ffeffc" width="20%">Finished</td>
            {% endif %}
        </tr>
    </table>
    <br><br>
    {% if current_user.is_authenticated and (current_user.id == item.user.id or current_user.id == 1) %}
        <div style="margin-top: 2%">
            <a href="/edit_job/{{ item.id }}" class="btn btn-warning">Edit job</a>
            <a href="/delete_job/{{ item.id }}" class="btn btn-danger">Delete job</a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}